/*General*/
body{
    background-image: url("../images/hogwartscrest.jpg");    
}

/*Hogwarts House Panel*/
#hogwartshouse{
    width: 800px;
    height: 400px;
}

#houseselector{
    color:rgb(139, 18, 18);
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;   
    font-size: 50px;
    font-weight: 900;
}

#slytherinpick{
    background-color: rgb(26, 75, 26);
    color: 	#C0C0C0;
    font-family: 'Almendra SC', serif;
    font-size: 40px;   
    border-color: #C0C0C0;
    margin: 12px;
    width: 275px;
    height: 75px;    
}

#ravenclawpick{
    background-color: rgb(3, 3, 160);
    color: rgb(196, 121, 51);
    font-family: 'Petit Formal Script', cursive;    
    font-size: 30px;   
    border-color: rgb(196, 121, 51);
    margin: 12px;
    float: left;    
    position: relative;
    top: 75px;
    width: 277px;
    height: 80px;    
}

#hufflepuffpick{
    background-color: yellow;
    color: black;
    font-family: 'Emilys Candy', cursive;
    font-size: 35px;
    border-color: black;
    float: right; 
    position: relative;
    right: 10px;
    top: 10px;   
    width: 275px;
    height: 77px;
}

#gryffindorpick{
    background-color: rgb(87, 4, 4);
    color: gold;
    font-family: 'New Rocker', cursive;
    font-size: 35px;
    border-color: gold;
    float: right;
    position: relative;
    right: 10px;
    top: 87px;
    width: 275px;
    height: 75px;         
}

/*Start Game Container*/
.startpage{
    position: absolute;
    left: 450px;
    bottom: 250px; 
    float: middle;    
    width: 900px;
    height: 500px;
}

#title,
#tagline{
    text-align: center; 
}

#startb{
    position: relative;
    left: 350px;
    top: 125px;
    float: middle;
    width: 200px;
    background-color: black;
    color: white;
    border-color: black;
}

#tagline{
    position: relative;
    top: 50px;
}

/*Question Container*/
.questions{
    background-image: url("../images/hogwartscastle.jpg");
    background-size: 100%;
    position: absolute;
    left: 450px;
    bottom: 250px; 
    float: middle;    
    width: 900px;
    height: 500px;    
}

.answers{
    position: absolute;
    margin: 10px;
    width: 300px;
    height: 75px;
    font-size: 20px;
}

#question{
    font-size: 40px;
    color: black;
}

#answer1{       
    float: left;
    left: 20px;
    top: 10px; 
    background-color: rgb(8, 80, 8);
    color: silver;
    border-color: silver;
}

#answer2{    
    float: right;
    right: 20px;
    top: 10px;   
    background-color: blue;
    color: rgb(205, 127, 50);
    border-color: rgb(205, 127, 50);
}

#answer3{    
    float: left;
    left: 20px;
    top: 200px;
    background-color: yellow;
    color: black;
    border-color: black;
}

#answer4{    
    float: right;
    right: 20px;
    top: 200px;
    background-color: red;
    color: gold;
    border-color: gold;
}
/*Points Container*/
.points{    
    float: right;
    position: relative;
    right: 20px;
    width: 350px;
    height: 300px;
    text-align: center;
    background-color: white;    
}