/*Start Game Container*/
.startpage{
    position: absolute;
    left: 450px;
    bottom: 250px; 
    float: middle;    
    width: 900px;
    height: 500px;
}

#title,
#tagline{
    text-align: center; 
}

/*Question Container*/
.questions{
    position: absolute;
    left: 450px;
    bottom: 250px; 
    float: middle;    
    width: 900px;
    height: 500px;
}
/*Points Container*/
.points{    
    float: right;
    width: 450px;
    
}